In [1]:
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [2]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
df = pd.DataFrame(data, columns=["numbers"])
print(df)

   numbers
0        1
1        2
2        3
3        4
4        5

In [4]:
data = [['Hadi',10],['Rim',12],['Rama',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

   Name  Age
0  Hadi   10
1   Rim   12
2  Rama   13

In [5]:
df = pd.DataFrame(data, index = ["Person-1", "Person-2", "Person-3"], columns=['Name','Age'])
print (df)

          Name  Age
Person-1  Hadi   10
Person-2   Rim   12
Person-3  Rama   13

In [6]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'], 'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42